<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtzOFp3wBQMOWqSUkqQXEQXV9tN0n5WHc</string>
	<key>GCM_SENDER_ID</key>
	<string>927699210213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cricklay.eritheia</string>
	<key>PROJECT_ID</key>
	<string>cricklay-fd1fa</string>
	<key>STORAGE_BUCKET</key>
	<string>cricklay-fd1fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927699210213:ios:725c37a549ce6073b6e90c</string>
</dict>
</plist>